{{define "title"}}Insert{{end}}

{{define "main"}}
<div>
    <form name="postInsert" method="post">
        <label for="title">Title</label>
        {{with .FormErrors.title}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="title" value="{{.Post.Title}}" placeholder="placeholder">

        <label for="content">Content</label>
        {{with .FormErrors.content}}
        <label class="error">{{.}}</label>
        {{end}}
        <input type="text" name="content" value="{{.Post.Content}}" placeholder="placeholder">

        <button type="submit">Submit Post</button>
        {{if .InsertionErrorMessage}}{{.InsertionErrorMessage}}{{end}}
        {{if .PostInserted}}{{.InsertionMessage}}{{end}}
    </form>
</div>
{{end}}
