{{define "title"}}Post Search{{end}}

{{define "main"}}
<div>
    <form name="postSearch" method="POST">
        <label for="postID">Enter a post ID to look up:</label>
        <input type="number" name="postID" value="">
        <button type="submit">Search</button>
        <p>
            {{if .PostNotFound}}Post not found{{end}}
            {{if .IDBelowZero}}ID can not be below 0{{end}}
            {{if .IDIsNotNumber}}Id you entered is not a number{{end}}
        </p>
    </form>
</div>
{{end}}
