{{define "title"}}User Sign Up{{end}}

{{define "main"}}
<h1>User Sign Up Here</h1>
<form name="userSignUp" method="POST">
    {{with .FormErrors.Errors.other}}
    <label class="error">{{.}}</label>
    {{end}}

    <label for="userName">User Name</label>
    {{with .FormErrors.Errors.userName}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="userName" value="{{.User.Name}}">


    <label for="emai">Email</label>
    {{with .FormErrors.Errors.email}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="email" value="{{.User.Email}}">

    <label for="password">Password</label>
    {{with .FormErrors.Errors.password}}
    <label class="error">{{.}}</label>
    {{end}}
    <input type="text" name="password">

    <button type="submit">Create User</button>
</form>
{{end}}